<div class="my-content account-addresses">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">place</i>
      </div>
      <h4 class="card-title">收货信息</h4>
      <div class="card-content">
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
              <tr>
                <th>标签</th>
                <th>收货人</th>
                <th>手机号</th>
                <th>详细地址</th>
                <th class="text-right">操作</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "address", collection: @addresses, as: :address %>
              <tr>
                <td colspan="5" class="text-right">
                  <%= link_to fa_icon("plus", text: "新增"), new_account_address_path, class: "btn btn-raised btn-info" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
