<div class="panel panel-default account-receiving-infos">
  <div class="panel-heading">
    <h4>收货信息
      <%= link_to fa_icon("plus", text: "新增"), new_account_receiving_info_path, class: "btn btn-default pull-right" %>
    </h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>标签</th>
        <th>收货人</th>
        <th>手机号</th>
        <th>详细地址</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="receiving-infos-list">
      <%= render partial: "receiving_info", collection: @receiving_infos, as: :receiving_info %>
    </tbody>
  </table>
</div>
