// Place all the styles related to the account/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 订单列表
.account-orders {
  .card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .card-title {
      font-weight: 300;
      line-height: 1.5em;
    }
  }
}

// 订单详情
.account-order {
  .card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .card-title {
      font-weight: 300;
      line-height: 1.5em;
    }
  }
}

// 支付页
.pay {
  .card {
    text-align: center;
  }
  .card .img-container {
    width: 230px;
    height: 230px;
  }
  .img-container {
    margin: 0 auto;
  }
}
