<div class="landing-page">
  <div class="wrapper background-blue">
    <div class="header" style="background-image: url('http://ooz9ucbbf.bkt.clouddn.com/space-heading.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:50px;">
            <h1 class="title" style="letter-spacing:3px;">你与牛人之间只差这最后一课</h1>
            <h4 style="letter-spacing:2px;">认知是人与人之前唯一的门槛，但人人都能通过掌握认知学习法完成认知升级</h4>
            <br/>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg" style="margin-top:50px;">
              <i class="fa fa-play"></i>
              开始上课
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">

      <div class="section text-center section-landing">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title" style="letter-spacing:3px;">不仅要「得到」，还要「做到」</h2>
            <h5 class="description">以认知科学原理为基础，我们打造了科学高效的认知学习法
              <br>帮助人们快速提升学习效率，完成认知升级
              <br>同时，我们以认知学习法重塑了职业技能教育
              <br>不仅要「得到」，还要让你快速从零到「做到」
              <br>
            </h5>
          </div>
        </div>
      </div>

      <section>
        <!--<h2 class="text-center">Scroll down the page a bit</h2><br><br> -->
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8">

              <div class="barWrapper">
                <span class="progressText">
                  <B>HTML5</B>
                </span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"></span>
                  </div>
                </div>

                <div class="barWrapper">
                  <span class="progressText">
                    <B>CSS3</B>
                  </span>
                  <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="">
                      <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"></span>
                    </div>

                  </div>
                </div>

                <div class="barWrapper">
                  <span class="progressText">
                    <B>BOOTSTRAP</B>
                  </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                      <span class="popOver" data-toggle="tooltip" data-placement="top" title="65%"></span>
                    </div>
                  </div>
                </div>
                <div class="barWrapper">
                  <span class="progressText">
                    <B>JQUERY</B>
                  </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                      <span class="popOver" data-toggle="tooltip" data-placement="top" title="55%"></span>
                    </div>
                  </div>
                </div>
                <div class="barWrapper">
                  <span class="progressText">
                    <B>MYSQL</B>
                  </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                      <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"></span>
                    </div>
                  </div>
                </div>
                <div class="barWrapper">
                  <span class="progressText">
                    <B>PHP</B>
                  </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                      <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"></span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2 col-lg-2"></div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
        </section>

        <div class="section text-center" style="background-color:#f5f5f5">

          <div class="row">

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">手把手极简教程</h4>
                <p>以「做到」为原则的教程体系，上来的第一件事就带你输出完整作品。步骤详细到你甚至无需思考，照做就行。</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">学习游戏化</h4>
                <p>不同的课程内容，将被设计成不同的策略、竞技、对抗游戏，让大家通过游戏速成新技能。</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">全程辅导</h4>
                <p>不定期邀请牛人分享，通过线下聚会、及线上社群进行社会化学习，老师全程答疑。</p>
              </div>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="section text-center">
            <h2 class="title">牛人推荐</h2>

            <div class="team">
              <div class="row">
                <div class="col-md-3">
                  <div class="team-player">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E7%AC%91%E6%9D%A5.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                    <h4 class="title">李笑来
                      <br/>
                      <small class="text-muted">中国比特币首富</small>
                    </h4>
                    <p class="description text-left">老朋友了解，‘认知’是我多年研究的主题。不搞清楚‘大脑’如何运作，再努力也是无用。刘传这小伙儿相当Sharp，不仅自己摸透了‘大脑’，还总结出了体系化的课程。</p>
                    <a href="http://weibo.com/bylixiaolai?refer_flag=1001030101_&is_all=1" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weibo"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="team-player">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E5%8F%AB%E5%85%BD.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                    <h4 class="title">李靖<br/>
                      <small class="text-muted">百度副总裁</small>
                    </h4>
                    <p class="description text-left">谁也不能否认，在这个每天都在变化的时代里，学习的质量和速度已然成为了决定人价值的重要因素。可大部分人这么多年一直在学习，却从没学习过如何学习。推荐千古刘传的《认知学习法》，你应该重新学习下，如何学习！</p>
                    <a href="http://weibo.com/u/1838543111?topnav=1&wvr=6&topsug=1&is_all=1" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weibo"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weixin"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="team-player">
                    <img src="http://odau7u92l.bkt.clouddn.com/xdite.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                    <h4 class="title">Xdite<br/>
                      <small class="text-muted">全栈营创始人</small>
                    </h4>
                    <p class="description text-left">千古刘传的认知学习法，是我接触认知心理学的第一道契机。他的课深入浅出，让我从此一头钻进认知心理学的领域，此后我将认知心理学应用在教学上，设计出了全栈营学习生态体系。</p>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weixin"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="team-player">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%88%90%E7%94%B2.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                    <h4 class="title">成甲<br/>
                      <small class="text-muted">《好好学习》作者</small>
                    </h4>
                    <p class="description text-left">掌握学习的认知原理是具备科学学习能力的关键。刘传一直致力于研究认知科学，推荐你学习《认知学习法》，掌握高效学习背后的原理！</p>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weibo"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-weixin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section landing-section" style="background-color:#f5f5f5;">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center title">还不来一起认知升级？</h2>
              <h4 class="description text-center">现在报名将获得得到知识卡一份。</h4>
              <form class="contact-form">

                <!-- 信息填写特效表单，其他版块需要，但Landingpage不需要，暂时注释在这里 -->
                <!-- <div class="row">
                    <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Your Name</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Your Email</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group label-floating">
                    <label class="control-label">Your Messge</label>
                    <textarea class="form-control" rows="4"></textarea>
                  </div> -->

                <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                    <button class="btn btn-info btn-round">
                      现在就报名
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
