<div class="my-content main carts">
  <div class="container">
    <div class="page-header">
      <h2>购物车</h2>
    </div>
    <%= render "cart_content" %>
  </div>
</div>
<%= render "common/delete_confirm" %>
