<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default carts">
    <div class="panel-heading">
      <h4>购物车</h4>
    </div>
    <div class="cart-content">
      <%= render "cart_content" %>
    </div>
  </div>
</div>
