<%= simple_form_for [:admin, @category] do |f| %>
  <div class="form-inputs">
    <%= f.input :name, label: "分类名称", autofocus: true %>
  </div>
  <div class="form-actions">
    <%= link_to("取消", :back, class: "btn btn-raised btn-white") %>
    <%= f.submit "保存", data: {disable_with: "正在保存..."}, class: "btn btn-raised btn-success" %>
  </div>
<% end %>
