/* 侧边导航 */
.off-canvas-sidebar,
.sidebar {
  position: absolute;
  top: 71px;
  bottom: 0;
  left: 0;
  z-index: 12;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.off-canvas-sidebar .sidebar-wrapper,
.sidebar .sidebar-wrapper {
  background-color: #fff;
  position: relative;
  height: calc(100vh);
  overflow: auto;
  width: 260px;
  z-index: 4;
}

.off-canvas-sidebar .nav,
.sidebar .nav {
  margin-top: 20px;
}

.off-canvas-sidebar .nav li > a,
.sidebar .nav li > a {
  margin: 10px 15px;
  border-radius: 3px;
  color: #3C4858;
}

.off-canvas-sidebar .nav li:hover > a,
.sidebar .nav li:hover > a {
  background: rgba(200, 200, 200, 0.2);
  color: #3C4858;
}

.off-canvas-sidebar .nav li.active > a,
.sidebar .nav li.active > a {
  color: #FFFFFF;
}

.off-canvas-sidebar .nav li.active > a i,
.sidebar .nav li.active > a i {
  color: #FFFFFF;
}

.off-canvas-sidebar .nav p,
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
}

.off-canvas-sidebar .nav i,
.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.off-canvas-sidebar .sidebar-background,
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.off-canvas-sidebar .sidebar-background:after,
.sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #FFFFFF;
  opacity: 0.93;
}

.off-canvas-sidebar .logo,
.sidebar .logo {
  position: relative;
  padding: 15px;
  z-index: 4;
}

.off-canvas-sidebar .logo:after,
.sidebar .logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.3);
}

.off-canvas-sidebar .logo p,
.sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.off-canvas-sidebar .logo .simple-text,
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  color: #3C4858;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.off-canvas-sidebar .logo-tim,
.sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.off-canvas-sidebar .logo-tim img,
.sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}

.off-canvas-sidebar:after,
.off-canvas-sidebar:before,
.sidebar:after,
.sidebar:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.off-canvas-sidebar:before,
.sidebar:before {
  opacity: 0.33;
}

.off-canvas-sidebar:after,
.sidebar:after {
  z-index: 3;
  opacity: 1;
}

.off-canvas-sidebar.has-image:after,
.off-canvas-sidebar[data-image]:after,
.sidebar.has-image:after,
.sidebar[data-image]:after {
  opacity: 0.77;
}

.off-canvas-sidebar[data-color="blue"] .nav li.active a,
.sidebar[data-color="blue"] .nav li.active a {
  background-color: #00bcd4;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.off-canvas-sidebar[data-color="green"] .nav li.active a,
.sidebar[data-color="green"] .nav li.active a {
  background-color: #4caf50;
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.off-canvas-sidebar[data-color="orange"] .nav li.active a,
.sidebar[data-color="orange"] .nav li.active a {
  background-color: #ff9800;
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.off-canvas-sidebar[data-color="red"] .nav li.active a,
.sidebar[data-color="red"] .nav li.active a {
  background-color: #f44336;
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.off-canvas-sidebar[data-color="purple"] .nav li.active a,
.sidebar[data-color="purple"] .nav li.active a {
  background-color: #9c27b0;
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.off-canvas-sidebar .nav > li > a,
.off-canvas-sidebar .nav > li > a:hover {
  color: #FFFFFF;
}

.off-canvas-sidebar .nav > li > a:focus {
  background: rgba(200, 200, 200, 0.2);
}
@media(min-width:768px) {
  .navbar-header {
    .navbar-brand {
      margin-left: 10px;
    }
  }

  .navbar-right {
    .dropdown {
      margin-right: 20px;
    }
  }

  .side-nav {
    position: fixed;
    top: 71px;
    width: 225px;
    margin-left: -255px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav > li > a {
    width: 225px;
  }

  .side-nav li a:focus,
  .side-nav li a:hover {
    outline: none;
    background-color: #FFF !important;
  }

  .admin-content {
    position: relative;
    margin-left: 260px;
    margin-bottom: -101px;
  }
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav > li > ul > li > a:hover {
  color: #fff;
}
