/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require material_icons
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "material-kit";
@import "font-awesome";

// 前端界面通知
.my-alert {
  margin-top: 71px;
  margin-bottom: -71px;
}

// 管理界面通知
.admin-alert {
  margin-top: -30px;
  margin-bottom: -30px;
}

// footer置底代码
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 140px;
  background-color:#deeff5;
}

// 内容区
.my-content {
  margin: 101px 30px 0px;
  min-height: 740px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

//---------Footer---------
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 140px;
  font-size: 0.9em;
  color: #8f8f8f;
  letter-spacing: 1.5px;
  background-color: #F8F8F8;

  a {
    color: #6499d0;
  }

  a:focus,
  a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color:#4a81ba;
  }

  .footer_icon li {
    color: #6499d0;
    display: inline;
    margin-left: 0.8em;
    margin-right: 0.8em;

    .btn-weixin {
      background-color: #333;
      box-shadow: 0 2px 2px 0 rgba(51,51,51,.14), 0 3px 1px -2px rgba(51,51,51,.2), 0 1px 5px 0 rgba(51,51,51,.12);
    }

    .btn-facebook {
      background-color: #3b5998;
      box-shadow: 0 2px 2px 0 rgba(59,89,152,.14), 0 3px 1px -2px rgba(59,89,152,.2), 0 1px 5px 0 rgba(59,89,152,.12);
    }

    .btn-linkedin {
      background-color: #0976b4;
      box-shadow: 0 2px 2px 0 rgba(9,118,180,.14), 0 3px 1px -2px rgba(9,118,180,.2), 0 1px 5px 0 rgba(9,118,180,.12);
    }
  }
}
