/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require material_icons
 *= require bootstrap-tagsinput
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "material-kit";
@import "customize";

// 前端界面通知
.my-alert {
  position: absolute;
  z-index: 10;
  top: 71px;
  left: 0;
  right: 0;
}
// 管理界面通知
.admin-alert {
  position: absolute;
  z-index: 10;
  top: -30px;
  left: 0;
  right: 0;
}
// footer置底代码
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 140px;
  background-color: #deeff5;
}

// 内容区
.my-content {
  margin: 101px 30px 0;
  padding-bottom: 60px;
}
// 内容区带悬浮效果
.my-content-raised {
  margin: 101px 30px 0;
  padding-bottom: 60px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand img {
  height: 30px;
  display: inline-block;
}

.navbar .navbar-nav > li > a {
  font-size: 1em;
  letter-spacing: 1px;
}

//---------Footer---------
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 140px;
  font-size: 0.9em;
  color: #8f8f8f;
  letter-spacing: 1.5px;
  background-color: #F8F8F8;

  a {
    color: #6499d0;
  }

  a:focus,
  a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #4a81ba;
  }

  .footer_icon li {
    color: #6499d0;
    display: inline;
    margin-left: 0.8em;
    margin-right: 0.8em;

    .btn-weixin {
      background-color: #333;
    }

    .btn-weibo {
      background-color: #CD201F;
    }

    .btn-facebook {
      background-color: #3b5998;
    }

    .btn-linkedin {
      background-color: #0976b4;
    }
  }
}

//---Pill控件修正
.nav-pills > li > a {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all .3s;
  text-align: -webkit-center;
}
.nav-pills > li i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
  margin-bottom: 25px
}
