// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 导航条上的购物车
.cart-nav {
  .cart-empty {
    padding: 5px 10px;
  }
  .cart-item {
    margin: 0 6px;
    min-width: 260px;
    .media-body p {
      font-size: 0.8em;
      font-weight: 400;
    }
  }
  .cart-img {
    width: 60px;
    height: 60px;
    border: 1px solid #DDD;
  }
  .cart-bottom {
    padding: 0 6px;
    font-size: 0.9em;
    font-weight: 400;
    .btn-to-cart {
      padding: 3px 6px;
      font-size: 0.8em;
      color: #FFF;
    }
  }
}
