// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 导航条上的购物车

.navbar-transparent {
  .cart-nav {
    .badge {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}

.cart-nav {
  .badge {
    border: 1px solid #fff;
    background-color: #fff;
  }

  .cart-empty {
    color: #333;
    font-size: 1.6em;
    text-align: center;
    min-width: 200px;
  }

  .cart-nav-content {
    font-size: 0.7em;
    box-shadow: none;
    background-color: transparent;

    .card {
      margin: 0;
    }

    .card .card-content {
      padding: 5px 15px;
    }

    .card [data-background-color] {
      margin-top: -20px;
      border-radius: 3px;
      padding: 5px;
    }

    .table-shopping .img-container {
      width: 80px;
      max-height: 100px;
    }

    .table-shopping .td-name {
      min-width: 150px;
    }

    .table-shopping .td-number {
      min-width: 130px;
    }

    .table .td-price {
      font-size: 1.6em;
    }
  }
}
// 购物车页

.carts {
  .card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .card-title {
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .td-name a:focus,
  .td-name a:hover {
    color: #03a9f4 !important;
    text-decoration: none;
  }
  // 选中课程的数量
  #items-count {
    margin: 0 5px;
    font-size: 1.2em;
    font-weight: bold;
  }
  // 增减数量
  .quantity {
    .quantity-minus,
    .quantity-plus {
      &.disabled {
        color: #424242;
        cursor: not-allowed;
        background-color: #E0E0E0;
      }
    }

    .quantity-input {
      border: 0;
      cursor: not-allowed;
      text-align: right;
      max-width: 60px;
    }
  }
}
