// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 导航条上的购物车
.navbar-transparent {
  .cart-nav {
    .badge {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}

.cart-nav {
  .badge {
    border: 1px solid #fff;
    background-color: #fff;
  }

  .cart-empty {
    color: #333;
    text-align: center;
    min-width: 200px;
  }

  .cart-item {
    margin: 0 10px;
    min-width: 300px;

    .media-body p {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  .cart-img {
    width: 80px;
    height: 80px;
    border: 1px solid #DDD;
  }

  .media-right {
    min-width: 50px;

    p {
      float: right;
    }

    .cart-btn-delete {
      color: #B22222;
      float: right;
    }
  }

  .cart-bottom {
    padding: 0 10px;
    font-size: 0.9em;
    font-weight: 400;

    .btn-to-cart {
      padding: 3px 6px;
      font-size: 0.8em;
      color: #FFF;
    }
  }
}
// 购物车页
.carts {

  .card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .card-title {
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  .td-name a:focus,
  .td-name a:hover {
    color: #03a9f4 !important;
    text-decoration: none;
  }

  // 选中课程的数量
  #items-count {
    margin: 0 5px;
    font-size: 1.2em;
    font-weight: bold;
  }
  // 增减数量
  .quantity {
    .quantity-minus,
    .quantity-plus {
      &.disabled {
        color: #424242;
        cursor: not-allowed;
        background-color: #E0E0E0;
      }
    }

    .quantity-input {
      border: 0;
      cursor: not-allowed;
      text-align: right;
      max-width: 60px;
    }
  }
}
