// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 商品图片

.product-image-thumb {
  width: 80px;
  max-height: 100px;
  overflow: hidden;
  display: block;
}

.product-image-medium {
  width: 120px;
  max-height: 160px;
  overflow: hidden;
  display: block;
}

.product-image-origin {
  overflow: hidden;
  display: block;
}
// 课程详情

.product-page {
  margin-bottom: 60px;

  .header {
    background-image: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
  }

  .buy-quantity {
    // 加减按钮
    .quantity-minus,
    .quantity-plus {
      pointer-events: auto;
    }
  }
}
//---Liuchuan do for product detail page

.product-page .product-image {
  box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5);
  margin: 20px auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 20px;
}

.product-image img {
  width: 100%;
}

.product-image-shadow img {
  border-radius: 12px;
  box-shadow: 0 25px 20px -21px rgba(0,0,0,0.57);
  width: 100%;
}

.product-page .tagline {
  color: #d3e8ff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-page .quantity-input {
  color: #333;
  text-align: center;
  width: 60px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #FFF;
  box-shadow: 0 16px 26px -10px rgba(3, 169, 244, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2);
}
//名额数量

.product-page h5.tagline {
  font-size: 16px;
}

.product-page .pay-area .product-name {
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.product-page .pay-area .product-price {
  font-size: 2.5em;
  color: #d13636;
  font-weight: bold;

  small {
    color: #d13636;
    font-weight: bold;
  }
}

.product-page .pay-area .tab-content {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.product-page .tab-content .tab-pane .text {
  letter-spacing: 2px;
  line-height: 26px;
}

.product-page .pay-area .btn b {
  font-size: 14px;
}

.product-page .pay-area .btn b strike {
  color: #666666;
}

.product-page .pay-area .btn-wd {
  min-width: 160px;
  width: 49%;
}

.product-page .pay-area form {
  display: inline-block;
  width: 49%;
}

.product-page .pay-area form .btn-wd {
  width: 100%;
}

.product-page .product .description {
  height: 260px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 10px;
}

.product-page .product .description.in {
  height: auto;
  border-bottom-color: transparent;
}
// 课程列表
.product-list {
  // 没有结果时，显示的内容
  .empty {
    .card {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;

      .card-title {
        margin-top: 0;
        font-weight: 300;
        line-height: 1.5em;
      }
      .card-content {
        padding: 60px 20px;
        text-align: center;
      }
      .card-content a {
        text-decoration: none;
      }
    }
  }

  .card {
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  .card-blog {
    margin-top: 30px;
  }

  .card .card-image {
    height: 60%;
    z-index: 1;
    overflow: inherit;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    box-shadow: 0 0 0 0 transparent;
  }

  .card .card-favorites {
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
    float: right;
  }
  .card .card-favorites.favorited {
    color: #da6565;
  }

  .card .card-favorites i {
    font-size: 1.2em;
  }

  .card .card-title {
    margin-top: 10px;
  }

  .card .card-title a {
    line-height: 2em;
  }

  .card .card-description {
    height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .card .footer {
    margin-top: 15px;
  }

  .card .footer div {
    display: inline-block;
  }

  .card .footer .author {
    color: #999;
  }

  .card .footer .price {
    float: right;
    line-height: 28px;
    color: #da6565;
    font-size: 1.5em;
    font-weight: bold;
  }

  .card .footer .stats {
    float: right;
    line-height: 30px;
    color: #999;
  }

  .atvImg,
  .atvImg-layers {
    transform-style: preserve-3d;
  }

  .atvImg {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    cursor: pointer;
  }

  .atvImg img {
    box-shadow: 0 2px 8px rgba(14, 21, 47, .25);
    width: 100%;
  }

  .atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-out;
    cursor: pointer;
  }

  .atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, .4), 0 16px 40px rgba(14, 21, 47, .4);
  }

  .atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .atvImg,
  .atvImg img,
  .atvImg-container,
  .atvImg-layers {
    border-radius: 6px;
    overflow: inherit;
  }

  .atvImg-rendered-layer {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
  }

  .atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.25s ease-out;
    box-shadow: 0 12px 30px rgba(14, 21, 47, .7);
  }

  .atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, 0) 30%);
  }
}
