// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 商品列表
.produc-list {}
// 每个商品
.product {
  img {
    width: 200px;
    height: 200px;
  }
}
// 商品详情
.product-detail {
  //商品图片
  .product-img {}
  // 商品信息
  .product-info {
    .product-title {
      font-weight: 300;
    }
    .product-description {

    }
    .product-price {
      font-size: 2em;
      color: #B22222;
      font-weight: bold;
      small {
        color: #B22222;
        font-weight: bold;
      }
    }
    .product-quantity {
      margin-top: 20px;
      font-size: 1.2em;
    }
    // 增减数量
    .quantity {
      .quantity-minus,
      .quantity-plus {
        color: #000;
        border: 1px solid #DDD;
        padding: 4px 10px;
        &.disabled {
          color: #424242;
          pointer-events: none;
          background-color: #E0E0E0;
        }
      }
      .quantity-input {
        text-align: center;
        width: 60px;
        font-weight: bold;
      }
    }
  }
}
