// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// landing-page

.landing-page {
  .background-blue {
    background-color: #deeff5 !important;
  }

  .description,
  .title {
    letter-spacing: 3px;
  }

  .header {
    background-image: url('https://ws3.sinaimg.cn/large/006tNbRwgy1ffrso5xpn4j31kw0vju0x.jpg');
    padding-top: 50px;

    .title {
      text-shadow: 0 4px 10px #0b61b9;
    }

    .slogan {
      letter-spacing: 2px;
    }

    a {
      margin-top: 50px;
    }
  }

  .section-head .description {
    color: #636363;
    line-height: 35px;
  }

  section {
    padding-bottom: 100px;
  }

  .section-features {
    background-color: #f5f5f5;
    padding: 60px 0 80px;

    .info-title {
      letter-spacing: 3px;
    }

    p {
      letter-spacing: 3px;
      line-height: 25px;
      text-align: left;
    }
  }

  .referrer h2 {
    letter-spacing: 3px;
  }

  .section-bottom {
    background: linear-gradient(60deg, #29b6f6, #0288d1);

    .title {
      color: #ffffff;
      text-shadow: 0 4px 10px #0b61b9;
      margin-bottom: 0;
    }

    .description {
      color: #ffffff;
      margin-bottom: 20px;
    }
  }

  .tooltip {
    position: relative;
    float: right;
  }

  .tooltip > .tooltip-inner {
    min-width: 40px;
    padding: 5px 15px;
    color: rgb(23,44,66);
    font-weight: bold;
    font-size: 13px;
  }

  .popOver + .tooltip > .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }

  .progress {
    border-radius: 0;
    overflow: visible;
  }

  .progress-bar {
    background: rgb(23,44,60);
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
  }
}
