<div class="col-md-12">
  <div class="product media">
    <div class="media-left">
      <%= link_to product_path(product) do %>
        <%= render_product_image(product, "thumbnail") %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= product.title %></h4>
      <p>¥ <%= render_price(product.price) %></p>
    </div>
  </div>
</div>
