<div class="container">
  <div class="row">
    <%= render "header" %>
    <div class="product-list">
      <% if params[:view] == 'grid' %>
        <%= render partial: "grid_product", collection: @products, as: :product %>
      <% elsif params[:view] == 'list' %>
        <%= render partial: "list_product", collection: @products, as: :product %>
      <% end %>
    </div>
  </div>
</div>
