<footer class="footer">
  <div class="text-center">
    <p>
      <ul class="footer_icon">
        <li>
          <a href="javascript:void(0)" class="btn btn-just-icon btn-round btn-github" target=_new>
            <i class="fa fa-github" aria-hidden="true"></i>
            <div class="ripple-container"></div>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" class="btn btn-just-icon btn-round btn-facebook" target=_new>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="ripple-container"></div>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" class="btn btn-just-icon btn-round btn-linkedin" aria-hidden="true" target=_new>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <div class="ripple-container"></div>
          </a>
        </li>
      </ul>
    </p>
    <p class="footer-text">Copyright ©️ 2017 JDstore Designed by
      <a href="https://mp.weixin.qq.com/s?__biz=MzI0NzE2ODc1Nw==&mid=2650228271&idx=1&sn=6533b0a90b06bffe31ccdd64f97abdcb&chksm=f1b7cdb5c6c044a368199179c740ef595e0e1bba16013d8acf100ad217b346a71e93b1174a0c#rd" target=_new>千古刘传</a> |
      <a href="http://alexpan-blog.logdown.com/" target=_new>Alex</a>
    </p>
  </div>
</footer>
