// Place all the styles related to the devise/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  background-image: url("https://ws1.sinaimg.cn/large/006tKfTcly1fg2bd499yqj31jk18g7gr.jpg");
  background-size: cover;
  background-position: top center;
}
